.container-tarifs
    max-width: 1180px
    margin: 0  auto
    padding: 90px 0
    

.tarifs__title
    text-align: center
    color: #333333
    font-family: "Open Sans - Extrabold" serif
    font-size: 30px
    font-weight: 700
    line-height: 55px
    text-transform: uppercase
.tarifs__text
    padding: 0 10px
    text-align: center
    color: #333333
    font-family: "Open Sans - Semibold" serif
    font-size: 18px
    font-weight: 600
    line-height: 25px
.tarifs__items
    display: flex
    flex-wrap: wrap
    justify-content: center
.tarifs__item
    display: flex
    flex-direction: column
    width: 270px
    margin: 5px
    
    
    
.item-price
    background-color: #ef5050
    text-align: center
.item-price__name
    border-bottom: 1px solid #ffffff
    padding: 25px 0
.item-price__name p
    color: #ffffff
    font-family: "Open Sans"
    font-size: 24px
    font-weight: 700
    line-height: 28px
    text-transform: uppercase
    margin: 0
.item-price__price
    padding: 25px 0
.item-price__price h3
    font-family: "Open Sans"
    font-size: 60px
    font-weight: 700
    color: #ffffff
    margin: 0
.item-price__price p
    color: #ffffff
    font-family: "Open Sans"
    font-size: 18px
    font-weight: 400
    line-height: 28px
    margin: 0
.item-options
    padding: 30px 40px
    border: 1px solid #f2f2f2
.item-option
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #f2f2f2
    color: #7e7f7f
.item-option__img
    display: flex
    align-items: center
.item__link
    width: 100%
    text-align: center
    padding: 17px 0
    background-color: #333333
    margin-top: 30px
.item__link:hover
    background-color: #ef5050
.button_grey
    color: #ffffff
    text-decoration: none
    font-size: 13px
    font-family: "Open Sans"
    font-size: 13px
    font-weight: 700
    