.continer-wrap__service-block
    max-width: 1180px
    margin: 0  auto
    padding: 90px 0
    

.service__title
    text-align: center
    color: #333333
    font-family: "Open Sans - Extrabold" serif
    font-size: 30px
    font-weight: 700
    line-height: 55px
    text-transform: uppercase
.service__text
    padding: 0 10px
    text-align: center
    color: #333333
    font-family: "Open Sans - Semibold" serif
    font-size: 18px
    font-weight: 600
    line-height: 25px
.service__items
    display: flex
    flex-wrap: wrap
    justify-content: center
.service__item
    margin: 10px 10px
    overflow: hidden
    position: relative

.service__item img
    width: 270px
    height: 320px
    object-fit: cover
    object-position: right bottom
    transition: 0.5s
    
.button__moreinfo
    position: absolute
    bottom: 4px
    opacity: 0.8
    border-bottom: 66px solid #000000
    border-left: 40px solid transparent
    border-right: 40px solid transparent
    height: 0
    width: 70%
    
.button__moreinfo:hover
    background-color: #000000
    position: absolute
    border: none
    width: 100%
    height: 100%
    bottom: 4px
    left: 0
    transition: 0.1s

.button__moreinfo a
    
    display: flex
    justify-content: center
    padding-top: 12%
    color: #ffffff
    font-family: "Open Sans"
    font-size: 20px
    font-weight: 700
    line-height: 26px
.button__moreinfo p
    color: #ffffff
    font-family: "Open Sans - Semibold" serif
    font-size: 18px
    font-weight: 600
    line-height: 25px
    padding: 0 15px


.button__service_red-bord 
    padding: 20px 40px
    color: #ffffff
    font-family: "Open Sans"
    font-size: 14px
    font-weight: 700
    line-height: 22px
    text-transform: uppercase
    background-color: #ef5050
    border: none
    text-align: center
    margin: 56px 0
.button__service_red-bord:hover
    background-color: #f95b5b
.service_button
    display: flex
    justify-content: center
    margin-top: 20px
.button__service_red-bord
    margin: 0
    