.container-wrap_grey
    background-color: #f9f9f9
.container_grey
    max-width: 1180px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    padding: 60px 20px
    justify-content: center

.box-video
    width: 47%
    position: relative
    margin: 10px
.box-video__ratio
    padding-top: 56.25%
    height: 0
.box-video__content
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: red
    border: none
.box-video__text
    width: 47%
    margin: 10px
    padding-left: 20px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
.box-video__text h3
    margin: 0
    color: #1d1b17
    font-family: "Open Sans" serif
    font-size: 26px
    font-weight: 700
    
    text-transform: uppercase
.video-block_button
    display: flex
    margin-top: auto
.video-block_button a
    text-decoration: none
    padding: 12px 24px
    color: #ffffff
    font-family: "Open Sans"
    font-size: 12px
    font-weight: 700
    line-height: 22px
    text-transform: uppercase
    background-color: #ef5050
    cursor: pointer
.video-block_button a:hover
    background-color: #f95b5b
    
.box-video__text_red
    color: #ef5050
    font-family: "Open Sans - Semibold" serif
    font-size: 22px
    font-weight: 400
    line-height: 25px
    margin: 10px 0
.box-video__text_grey
    color: #8b8b8b
    font-family: "Open Sans - Semibold" serif
    font-size: 20px
    font-weight: 400
    line-height: 25px
    margin: 10px 0