.container-form
    max-width: 1600px
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    padding: 15px 0
.form__map
    width: 40%
    
.form__main
    width: 60%
    max-height: 604px
    background-color: #232425
    padding: 1% 2%
    box-sizing: border-box
    color: #ffffff
    font-family: "Open Sans"
    font-size: 30px
    font-weight: 400
    line-height: 55px
    
.form__text
    color: #ffffff
    font-family: "Open Sans - Semibold" serif
    font-size: 15px
    font-weight: 400
    line-height: 26px
.form__inputs
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
.form__inputs input
    width: 25%
    padding: 0
    border: none
    background-color: #232425
    border: 1px solid #363636
    padding: 18px 21px
    color: #ffffff
    font-family: "Open Sans"
    font-size: 13px
    font-weight: 400
    line-height: 26px
.form__inputs input:active, :hover, :focus 
    outline: 0
    outline-offset: 0
.form__textarea
    margin-top: 22px
.form__textarea textarea
    resize: none
    width: 100%
    height: 180px
    padding: 0
    border: none
    background-color: #232425
    border: 1px solid #363636
    box-sizing: border-box
    border: 1px solid #363636
    padding: 18px 21px
    color: #ffffff
    font-family: "Open Sans"
    font-size: 13px
    font-weight: 400
    line-height: 26px
    overflow: auto
.form__button input 
    margin-top: 22px 
    padding: 20px 40px
    color: #ffffff
    font-family: "Open Sans"
    font-size: 14px
    font-weight: 700
    line-height: 22px
    text-transform: uppercase
    background-color: #ef5050
    border: none