.footer .menu__logo
    order: 2
.footer .menu__info
    order: 1
.footer .name__top
    text-align: right
.footer .logo img
    margin-right: 0
    margin-left: 22px
.sub__input button
    background-color: #ff4848
    box-sizing: border-box
    border: none
    padding: 7px
.sub__input input
    box-sizing: border-box
    border: none
    padding: 7px
.menu__sub h3
    color: #ffffff
    font-family: "Open Sans"
    font-size: 22px
    font-weight: 500
    line-height: 24px
.menu__sub
    display: flex
    flex-direction: column
    
.footer
    display: flex
    justify-content: space-between
