.menu__top
    display: flex
    flex-wrap: wrap
    justify-content: space-between
   
.menu__logo
    display: flex
    flex-wrap: nowrap
.logo img
    width: 53px
    height: 53px
    margin-right: 22px
.logo__name
    display: flex
    flex-direction: column
    justify-content: space-between
.menu__info
    display: flex
    flex-wrap: nowrap
.menu__logo

    padding: 33px 0
.menu__social
    display: flex
    align-items: center
    justify-content: center
    
.social__wrapper
    display: flex
    justify-content: center
    align-items: center
    width: 38px
    height: 38px
    border: 1px solid #ffffff
    border-radius: 100%
    margin-left: 9px
    img
        height: 13px
        width: 13px
    img:nth-child(1)
        width: 9px
.social__wrapper:hover
    background-color: #ef5050    
.name__top
    font-size: 30px
    
.name__bottom
    font-size: 16px
    line-height: 18px
    font-weight: 500
    color: #8a8a8a
.name__top_red
    color: #ef5050
.name__top_white
    color: #fff
.top__span
    margin: 0
    color: #ffffff
    font-size: 16px
    font-weight: 400
    line-height: 22px
    text-transform: uppercase
    margin-bottom: 17px

.bottom__span
    color: #8a8a8a
    margin: 0

.menu__mail,
.menu__work-time,
.menu__phone
    margin: 0 12px
.menu__mail,
.menu__work-time,
.menu__phone,
.menu__social  
    padding: 33px 0
    
.menu__bottom
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.menu__navigation
    background-color: #ef5050
    display: flex
    flex-direction: column
    flex-grow: 1
.nav__items
    display: flex
    flex-wrap: wrap
    padding: 0
    margin: 0
    
.nav__item
    display: flex
    justify-content: space-around
    list-style: none
    padding: 30px 15px
.nav__item_active,
.nav__item:hover,
.menu__button_red:hover
    background-color: #f95b5b
.nav__link,
.form__link
    text-decoration: none
    color: #ffffff
    font-family: "Open Sans"
    font-size: 14px
    font-weight: 700
    line-height: 22px
    text-transform: uppercase
.menu__button_red
    display: flex
    padding: 30px 40px 
    background-color: #f95b5b
    span
        color: #fefefe
.menu-trigger 
    display: none
    cursor: pointer 



        

    
    
