.container__slider
    max-width: 1600px
    margin: 0 auto
.slider__item
    position: relative
.slider__text
    position: absolute
    top: 31%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
.slider__text_upper
    color: #ffffff
    background: $wrapColorDark
    font-family: "Open Sans - Extrabold" serif
    font-size: 45px
    font-weight: 400
    line-height: 58px
    text-transform: uppercase
    transform: skew(-20deg)
.slider__text_upper p
    transform: skew(20deg)
    padding: 0 20px
    margin: 0
.slick-dotted.slick-slider
    margin-bottom: 0
.slider__text_lower
    color: $wrapColorDark
    background: #ffffff
    font-family: "Open Sans - Extrabold" serif
    font-size: 45px
    font-weight: 700
    line-height: 58px
    text-transform: uppercase
    transform: skew(-20deg)
    margin-top: 5px
.slider__text_lower p
    transform: skew(20deg)
    padding: 0 20px
    margin: 0
.slider__button_transparent
    text-transform: uppercase
    border: 2px solid #ffffff
    background-color: rgba(0,0,0,.3)
    color: #fefefe
    font-family: "Open Sans"
    font-size: 13px
    padding: 10px 35px
    margin-top: 5vw
.slider__button_transparent:hover
    background-color: rgba(0,0,0,.6)
.slider__button_transparent a 
    color: #fefefe
.img__slide
    filter: blur(1px)
    object-fit: cover
    width: 100%
    max-height: 700px
.slick-dots
    bottom: 7%
.slick-dots li
    
    
    
    
.slick-dots li button
    
    border: 1px solid rgba(255,255,255, .3)
    border-radius: 50%
    transition: border-color .3s
    
    

.slick-dots li button:before 
    content: ''
    width: 10px
    height: 10px
    background-color: #ffffff
    opacity: 1
    border-radius: 50%
    top: 50%
    left: 50%
    margin: -5px 0 0 -5px
    transition: background .3s
    
.slick-dots li button:hover,
.slick-dots li.slick-active button
    border-color: #ef5050
.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before
    background-color: #ef5050