a
    text-decoration: none
.container
    max-width: 1180px
    margin: 0 auto
    
.container-wrap_dark
    background-color: $wrapColorDark

.container-wrap_white
    background-color: #ffffff 
.container-wrap_red
    background-color: #ef5050
