
   
  @media screen and (min-width: 1049px) /* Desktop */ {
   
  }
   
  @media screen  and (max-width: 1048px) /* Tablet */ {
    
    .menu__logo {
        flex-basis: 100%;
        justify-content: center;
    }
    .menu__info {
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
    }
    .menu__mail,
    .menu__work-time,
    .menu__phone,
    .menu__social {
        width: 300px;
        
        text-align: center;
    }
    .menu__social {
        margin: 0 12px;
    }
  }
   
  @media screen and (max-width: 952px) /* Mobile */ {
    
    .menu__navigation {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 0 3% 0 3%;
    }
    .nav__items {
        justify-content: center;
    }
    .menu__bottom {
        justify-content: center;
    }
    .menu__button_red {
        margin: 10px 0;
    }
  }
@media screen and (max-width: 783px) {
    .menu__navigation {
        margin: 0 12% 0 12%;
    }
    .nav__items {
        width: 100%;
        flex-direction: column;
        display: none;
    }
    .nav__item,
    .menu-trigger {
        border-bottom: 1px solid $wrapColorDark;
    }
    .menu-trigger {
        display: flex;
        justify-content: center;
        padding: 30px 15px;

    }
    .menu-trigger a {
        text-decoration: none;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }
    .closeMenu {
        display: none;
        transition: 1s;
    }
    .showMenu {
        display: flex;
        transition: 1s;
    }
}
//sliderHero

@media screen and (max-width: 620px) {
    .slider__text {
        top: 20%;
    }
    .slider__text_upper {
        font-size: 25px;
        line-height: 29px;
    }
    
    .slider__text_upper p {
        padding: 0 10px;
    }
    .slider__text_lower {
        width: 80%;
        font-size: 25px;
        line-height: 29px;
    }
    .slider__text_lower p {
        text-align: center;
        padding: 0 10px;
    }
    .slider__button_transparent {
        padding: 5px 17px
    }
    .slick-dots {
        bottom: 2%;
    }
    
}   
//block services
@media screen and (max-width: 620px) {
    .continer-wrap__service-block {
        margin: 0 auto;
    }
}
//block video
@media screen and (max-width: 1040px) {
    .container_grey {
        justify-content: center;
        padding: 20px 10px
    }
    .box-video {
        flex-basis: 80%;
    }
    .box-video__text {
        flex-basis: 80%;
    }
    .video-block_button {
        justify-content: center;
    }
}
//block form
@media screen and (max-width: 1180px) {
    .form__inputs {
        flex-direction: column;
        align-items: flex-start;
        
    }
    .form__inputs input {
        width: 70%;
        min-width: 50%;
    }
}
@media screen and (max-width: 1200px) {
    .form__map {
        width: 100%; 
        order: 2;
        
    }
    .form__main {
        max-height: 800px;
        width: 100%;
        order: 1;
        padding: 15px 10px;
    }
    
    .form__map iframe {
        height: 250px;
    }
    .container-form {
        justify-content: center;
    }
    .form__inputs input {
        margin: 10px 0;
    }
    .form__button input {
        margin-top: 10px; 
    }
    .form__textarea textarea {
        height: 100px;
    }
}
//block partners
@media screen and (max-width: 640px) {
    .partners__img {
        flex-basis: 40%;
        margin: 20px;
    }
    .partners {
        justify-content: center;
    }

}
//footer
@media screen  and (max-width: 1048px)  {
    
    .menu__sub {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }
}