#particles-js {
    background-color: $wrapColorDark;
    height: 530px;
}
.container-particles {
    max-width: 1600px;
    
    margin: 0 auto;
    position: relative;

}
.slider-feedback {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.slider-feedback__slide {
   
}
.slider-feedback__text_white {
    color: #ffffff;
    font-family: "Open Sans" serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20%;
    
    
}

.slider-feedback__text_red {
    color: #ef5050;
    font-family: "Open Sans" serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    padding: 0 20%;
    
}
span.slider-feedback__text_red {
    font-weight: 800;
    padding: 0 5px 5px 5px
}
.slider-feedback__text_grey {
    color: #ffffff;
    font-family: "Open Sans" serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20%;
}
.slider-feedback .slick-dots {
    bottom: 15%;
}
.feedback__text {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}
.feedback__text h3 {
    color: #ffffff;
    font-family: "Open Sans - Extrabold" serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0;
}
.feedback__text p {
    color: #bdbdbd;
    font-family: "Open Sans - Semibold" serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

